body {
  font-family: "Titillium Web", sans-serif;
}

h1 {
  padding-bottom: 0.3em;
}

h2 {
  padding-bottom: 0.3em;
  margin-top: 1em;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.navbar {
	margin-bottom: 20px;
}

pre {
  padding: 1.5rem;
  background-color: #f7f7f9;
}

app .background {
  text-align: center;
  margin-top: 150px;
  color: #EBE9E9;
  font-weight: bold;
  font-size: 2rem;
}
